.wrapper {
    position: absolute;
    min-width: 170px;
    background-color: #fff;

    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
    padding: 17px 0;

    border-top: 5px solid #800098;
    border-radius: 0 37px 0px 24px;

    z-index: 1000;
}

.option {
    display: flex;
    justify-content: flex-start; /* или просто убрать эту строку, если не нужна */
}

.option a {
    all: unset;
    color: #002e5b;
    cursor: pointer;
    text-align: left;
    display: block;
    width: 100%;
    padding: 6px 15px;
    font-size: 14px;
}

.option a:hover {
    color: #800098;
    transition: 0.2s;
}