.wrapper {
    position: absolute;
    min-width: 170px;
    background-color: #fff;

    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
    padding: 17px 0;

    border-top: 5px solid #800098;
    border-radius: 0 37px 0px 24px;

    z-index: 1000;
}

.option {
    display: flex;
    justify-content: left;
}

.option a {
    display: block;
    margin: 0;
    padding: 6px 16px;
    font-size: 14px;
    color: #0b1c39;
}

.option a:hover {
    color: #800098;
    transition: 0.2s;
}