.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-family: "Playfair Display", serif;
    color: #362d2b;
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
}

.optionsList {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.options {
    display: flex;
    gap: 5px;
}

.optionTitle {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: #212529;
}

.checkbox[type="checkbox"] {
    accent-color: #800098;
}