.wrapper {
    display: flex;
    width: 100%;
}

.button {
    flex: 1;
    color: white;
    background-color: #800098;
    border: none;
    border-radius: 5px;
    height: 60px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}