.wrapper_of_wrapper {
    display: flex;
    height: 100%;
    transition: transform 0.3s;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Занимает всё доступное пространство */
    width: 100%; /* Занимает всю ширину родителя */
    height: 480px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.wrapper_of_wrapper:hover {
    transform: translateY(-5px);
    transition: transform 0.3s;
}

.wrapper_of_wrapper:hover .cover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

.coverWrapper {
    height: 300px;
    overflow: hidden;
}

.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s ease;
}

.bookInfo {
    display: flex;
    flex-direction: column;

    padding: 20px;

    gap: 10px;

    flex: 1;
    width: 100%;

    justify-content: space-between;
}

.title {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.2;
}

.author {
    font-family: "Poppins", sans-serif;
    line-height: 30px;
    color: #666;
    font-style: italic;
}

.title,
.author {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.buttonCon {
    margin: 15px
}

.year {
    color: #888;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
}

.genre {
    color: #800098;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}