.aCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #002e5b;
    font-weight: 400;
    font-size: large;
    height: 100%;
    width: 100%;
    transition: 0.2s;
}

.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.aCon a {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0 20px 0 20px;

    white-space: nowrap;
}

.menuCon {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none; /* Чтобы меню не перехватывало события, когда скрыто */
}

.aCon:hover .menuCon {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto; /* Включаем взаимодействие с меню при появлении */
}

.aCon:hover {
    color: #800098;
    transition: 0.2s;
}