.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.rulesBlock {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    flex: 1;
}

.rulesNav {
    flex: 1;
    padding: 15px 15px 15px 0;
    position: sticky;
    top: 100px;
    align-self: flex-start;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

.rules {
    display: flex;
    flex-direction: column;
    padding: 15px;
    flex: 3;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.titleCon {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.image {
    width: 32px;
}

.title {
    font-family: "Playfair Display", serif;
    font-size: 32px;
}




@media (max-width: 1200px) {
    .rulesBlock {
        max-width: 960px;
    }
}

@media (max-width: 960px) {
    .rulesBlock {
        max-width: 720px;
    }

    .rulesNav {
        top: 60px;
        max-height: calc(100vh - 100px);
    }

    .rules {
        padding: 15px 0 15px 15px;
    }
}

@media (max-width: 760px) {
    .rulesBlock {
        flex-direction: column;
    }

    .rulesNav {
        padding: 15px;
        flex: unset;
        top: 0;
        position: unset;
        height: 100%;
        width: 100%;
        overflow: unset;
    }

    .rules {
        padding: 15px;
    }
}